{% extends '@project_template/base.html.twig' %}

{% block body %}
    <h1>HELLO — list</h1>

<div class="container mt-4">
    <div class="row">
        {% for review in reviews %}
            {% include '@project_template/review/_components/_card.html.twig' %}
        {% endfor %}
    </div>
</div>

{% endblock %}
